﻿@page "/news"
@using StockMasterAMP.Shared.Dto.Bankier
@using StockMasterAMP.Shared.Dto.Enums.Bankier
@*@attribute [Authorize] Uncomment to Secure this page*@
@inject HttpClient Http
@inject IMatToaster matToaster

@using System.Net
@using Newtonsoft.Json;

<div class="d-flex justify-content-start">

    <div class="p-2 mr-5">
        <MatSelect Label="Pick a stock" @bind-Value="@selectedType">
            <MatOptionString Value="GPW">GPW</MatOptionString>
            <MatOptionString Value="NewConnect">NewConnect</MatOptionString>
        </MatSelect>
        <div class="m-1 mt-1">
            @{
                if (selectedType == "GPW")
                {
                    <MatAutocompleteList Items="@symbols.Where(x => x.StockType == BankierStockTypeDto.GPW).ToList()" @bind-Value="@symbolDto"
                                         ShowClearButton="true" TItem="BankierSymbolDto" Label="Pick one" CustomStringSelector="@(i => i.Name)">
                    </MatAutocompleteList>
                }
                else
                if (selectedType == "NewConnect")
                {
                    <MatAutocompleteList Items="@symbols.Where(x => x.StockType == BankierStockTypeDto.NewConnect).ToList()" @bind-Value="@symbolDto"
                                         ShowClearButton="true" TItem="BankierSymbolDto" Label="Pick one" CustomStringSelector="@(i => i.Name)">
                    </MatAutocompleteList>
                }
            }
        </div>
        <MatButton Raised="true" OnClick="@Subscribe">Add subscription</MatButton>
    </div>

    <div class="p-2 ml-5">
        <MatTable Class="mat-elevation-z5" Items="@userSubscriptions" LoadInitialData="true" Striped="true" FilterByColumnName="Title" DebounceMilliseconds="150" PageSize="10">
            <MatTableHeader>
                <th>Action</th>
                <th>Name</th>
                <th  style="max-width: 150px">StockType</th>
            </MatTableHeader>
            <MatTableRow Context="userSubscription">
                <td>
                    <MatIconButton Icon="delete" OnClick="@(() => OpenDeleteDialog(userSubscription))"></MatIconButton>
                </td>
                <td>@(symbols.Where(x => x.Id == userSubscription.SymbolId).FirstOrDefault().Name)</td>
                <td>@(symbols.Where(x => x.Id == userSubscription.SymbolId).FirstOrDefault().StockType)</td>
            </MatTableRow>
        </MatTable>

        <MatDialog @bind-IsOpen="@deleteDialogOpen" Style="z-index:100">
            <MatDialogTitle><MatIcon Icon="warning"></MatIcon> Confirm Delete</MatDialogTitle>
            <MatDialogContent>
                Are you sure you want to delete symbol?
            </MatDialogContent>
            <MatDialogActions>
                <MatButton OnClick="@(e => { deleteDialogOpen = false; })">Cancel</MatButton>
                <MatButton OnClick="@Delete">Delete</MatButton>
            </MatDialogActions>
        </MatDialog>
    </div>
</div>

@code {
    string selectedType;
    List<BankierSymbolDto> symbols = new List<BankierSymbolDto>();
    BankierSymbolDto symbolDto = new BankierSymbolDto();

    List<BankierSymbolsSubscriptionDto> userSubscriptions = new List<BankierSymbolsSubscriptionDto>();
    BankierSymbolsSubscriptionDto userSubscriptionToDelete = new BankierSymbolsSubscriptionDto();

    bool deleteDialogOpen = false;
    bool dialogIsOpen = false;

    protected override async Task OnInitializedAsync()
    {
        await ReadBankierSymbols();
        await ReadUserSubscriptions();
    }

    public async Task ReadBankierSymbols()
    {
        ApiResponseDto apiResponse = await Http.GetFromJsonAsync<ApiResponseDto>("api/Bankier/GetSymbols");

        if (apiResponse.StatusCode == Status200OK)
        {
            matToaster.Add(apiResponse.Message, MatToastType.Success, "Symbols Retrieved");
            symbols = JsonConvert.DeserializeObject<BankierSymbolDto[]>(apiResponse.Result.ToString()).ToList<BankierSymbolDto>();
        }
        else
        {
            matToaster.Add(apiResponse.Message + " : " + apiResponse.StatusCode, MatToastType.Danger, "Symbols Retrieval Failed");
        }
    }

    public async Task ReadUserSubscriptions()
    {
        ApiResponseDto apiResponse = await Http.GetFromJsonAsync<ApiResponseDto>("api/Bankier/GetSubscriptions");

        if (apiResponse.StatusCode == Status200OK)
        {
            matToaster.Add(apiResponse.Message, MatToastType.Success, "GetSubscriptions Retrieved");
            userSubscriptions = JsonConvert.DeserializeObject<BankierSymbolsSubscriptionDto[]>(apiResponse.Result.ToString()).ToList<BankierSymbolsSubscriptionDto>();
        }
        else
        {
            matToaster.Add(apiResponse.Message + " : " + apiResponse.StatusCode, MatToastType.Danger, "GetSubscriptions Retrieval Failed");
        }
    }

    public async Task Subscribe()
    {
        HttpResponseMessage response = await Http.PostAsJsonAsync("api/Bankier/Subscribe", symbolDto.Id);
        var apiResponse = JsonConvert.DeserializeObject<ApiResponseDto>(await response.Content.ReadAsStringAsync());
        if (apiResponse.StatusCode == Status200OK)
        {
            matToaster.Add(apiResponse.Message, MatToastType.Success, "Subscribed succesfully");
            await ReadUserSubscriptions();
        }
        else
        {
            matToaster.Add(apiResponse.Message + " : " + apiResponse.StatusCode, MatToastType.Danger, "Failed to subcribe symbol");
        }
    }

    public async Task Delete()
    {
        try
        {
            var response = await Http.PostAsJsonAsync("api/Bankier/DeleteSubscription", userSubscriptionToDelete);
            if (response.StatusCode == (HttpStatusCode)Status200OK)
            {
                matToaster.Add("Subscription Deleted", MatToastType.Success);
                userSubscriptions.Remove(userSubscriptionToDelete);
            }
            else
            {
                matToaster.Add("Todo Delete Failed: " + response.StatusCode, MatToastType.Danger);
            }
            deleteDialogOpen = false;
            userSubscriptionToDelete = new BankierSymbolsSubscriptionDto();
        }
        catch (Exception ex)
        {
            matToaster.Add(ex.Message, MatToastType.Danger, "Failed to delete subscription");
        }
    }

    public void OpenDeleteDialog(BankierSymbolsSubscriptionDto symbol)
    {
        userSubscriptionToDelete = userSubscriptions.Where(x => x.Id == symbol.Id).FirstOrDefault();
        this.deleteDialogOpen = true;
    }
}
