﻿<div class="triangle-container">
    <div class="triangles">
    </div>
</div>

@if (ShowLogoBox)
{
    <div class="loading-container">
        Loading ...
    </div>
}


@code {
    [Parameter]
    public bool ShowLogoBox { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
