﻿@page "/dashboard"
@attribute [Authorize]
@inject AppState appState

<h1>Dashboard</h1>

<p>
    for WEB SCRAPING we will prob use :
    https://anglesharp.github.io/ -> free
    https://html-agility-pack.net/ -> free, best option imo

    from agilitipack website XD :
    Is web scraping legal? 
    That's a gray zone! There is no official answer about it, and almost every company has some web scraping program. In short, do polite crawling and don't spam a website and everything will be fine.

    CHARTS :
    https://github.com/mariusmuntean/ChartJs.Blazor
</p>


@code {

}
