﻿@page "/"

<h1>imagehere</h1>

<p>Welcome to the StockMasterAMP.</p>
<p>
    some description here about
</p>
<MatCheckbox @bind-Value="@checked1" Label="@(getLabel(checked1))"></MatCheckbox>


@code{
    bool checked1 = true;

    string getLabel(bool val)
    {
        return !val ? "Check me!" : "Uncheck me?";
    }

    bool lazySnackbarIsOpen = false;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await Task.Delay(TimeSpan.FromSeconds(3)).ContinueWith((_) =>
        {
            this.lazySnackbarIsOpen = true;
        });
    }

    public void Dispose()
    {
    }
}
